PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=tu_password
DB_NAME=ciberseguridad

JWT_SECRET=tu_jwt_secret

VITE_API_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000